body {
  /* height: 100%; */

  font-family: "Courier New", Courier, monospace !important;
}

.app-container {
  background-image: url("https://www.i-host.gr/Content/img/hotels/home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.venue-logo {
  background-image: url("https://www.i-host.gr/Content/img/ihost-blank-background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.form {
  color: blue;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.5em;
  border: 2px solid rgba(255, 255, 255, 0.7);
  /* border-radius: $brdRds; */
  backdrop-filter: blur(10px);
}

.top-region button {
  color: white;
}

.top-region .selected-language {
  color: white !important;
  border: none;
}

.top-region .li-lang {
  color: green;
}
