body {
  font-family: "Courier New", Courier, monospace !important;
}

.app-container {
  background-image: url("https://www.giftspot.gr/cards/aleria/aleria-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.form {
  color: blue;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.5em;
  border: 2px solid rgba(255, 255, 255, 0.7);
  /* border-radius: $brdRds; */
  backdrop-filter: blur(10px);
}

.top-region button {
  color: white;
}

.top-region .selected-language {
  color: white !important;
}

.top-region .li-lang {
  color: green;
}
