@import "assets/css/vars.scss";
// @import "stylesCustom.scss"; // test custom styles

// ========== non-default buttons and inputs ==========
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  &:focus {
    border: 1px solid black;
  }
}

// =============== Global Styles ================
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}

// =============== App Styles ================
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 220%;
  text-align: center;

  .top-region {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    width: 90%;

    .redirect-link {
      text-decoration: none;
      height: fit-content;
      padding: 0.5em;
      font-weight: 700 !important;
      cursor: pointer;
      border-radius: 0.2em;
      transition: 0.3s;
      &:hover {
        box-shadow: 0 0 5px 0 black;
      }
    }

    .dropdown-language {
      width: 5em;
      height: 5em;
      align-self: flex-end;
      justify-self: flex-end !important;
      // margin-right: 3em;
      // margin-top: 1em;
      .selected-language {
        .content {
          display: flex;
          align-items: center;
          padding: 7px 0;
          margin: 0 0 0.1em 0;
          font-weight: 700 !important;
          cursor: pointer;
          transition: 0.2s;
          border: none;
          &:hover {
            // box-shadow: 0 0 5px 0 black;
          }
          img {
            width: 1.4rem;
            height: 1.4rem;
            margin-right: 0.15rem;
          }
        }
      }
      ul {
        list-style: none;
        padding-inline-start: 0px;
        margin-block-start: 0px;
        margin-block-end: 0px;
        width: max-content;
        li {
          text-decoration: none;
          cursor: pointer;
          // background-color: bisque;
          padding: 0.3em;
          margin: 0 0 0.1em 0;
          // border-bottom: 1px solid black;
          border-radius: 0.2em;
          transition: 0.2s;
          z-index: 10;
          .content {
            display: flex;
            align-items: center;
            font-weight: 700 !important;
            img {
              width: 1.4rem;
              height: 1.4rem;
              margin-right: 0.15rem;
            }
          }
          &:hover {
            background-color: #f1f1f1;
            box-shadow: 0 0 5px 0 black;
          }
        }
      }
    }

    .language {
      #lang-select {
        display: inline;
        color: white !important;
        border: none;
        font-size: 20px;
        background: transparent;
        width: auto;
        cursor: pointer;
        text-decoration: underline;
        box-shadow: none !important;

        option {
          background-color: white;
          // color: black;
        }
      }
    }
  } // top-region

  .main-content {
    position: absolute;
    top: 5em;
    display: flex;
    flex-direction: column;
    width: 90%;
    // logo
    .venue-logo {
      width: 250px;
      height: 150px;
      margin: 0px auto;
      margin-top: 50px;
      display: block;
      max-width: 95%;
    }
    // img logo
    img {
      margin-bottom: 5em;
      border-radius: 1em;
    }

    // options
    .button-links {
      display: flex;
      flex-direction: column;
      margin-top: 3em;
      // height: 200px;
      justify-content: center;

      .option {
        padding: 0.5em;
        margin-bottom: 2em;
        font-weight: 700 !important;
        cursor: pointer;
        border-radius: 0.2em;
        transition: 0.3s;
        &:hover {
          box-shadow: 0 0 5px 0 black;
        }
      }
    }

    // form
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 3em 0em 4em 0em;
      border-radius: $brdRds;
      label {
        font-weight: 700 !important;
        font-size: 1.1em;
        padding: 0.1em 0;
      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        background-color: rgba(255, 255, 255, 0) !important;
      }

      input:autofill {
        background-color: rgba(255, 255, 255, 0);
      }

      input:-internal-autofill-selected {
        background-color: rgba(255, 255, 255, 0) !important;
      }

      input:-webkit-autofill,
      input:-webkit-autofill:focus {
        transition: background-color 0s 600000s, color 0s 600000s;
      }
      input {
        display: block;
        width: 100%;
        height: 3em;
        background-color: rgb(255, 255, 255, 0.2) !important;
        margin: 0.5em auto;
        font-weight: 600 !important;
        text-align: center;
        border: none;
        border-bottom: $inptBorder;
        border-radius: 0.3em;
        transition: $transition;
        outline: none !important;
      }
      input:focus {
        outline: none !important;
        border: none !important;
        border-bottom: $brdrFoc !important;
      }

      // χρειάζεται γιατί δεν κάνει border στο input όταν είναι focus
      input {
        //   border: none !important;
        //   outline: none !important;

        &:focus {
          // border: none !important;
          // border-color: red;
        }
      }

      #country-tel-code {
        background-color: rgb(255, 255, 255, 0.2);
        margin: 0.5em auto;
        height: 2.5em;
        border-radius: 0.2em;
        display: flex;
        align-items: center;
        border-bottom: $inptBorder;
        &:focus {
          border-bottom: $brdrFoc !important;
        }
      }

      .confirmation {
        background-color: rgba(255, 255, 255, 0.2);
        width: 100%;
        margin-top: 1em;
        padding: 0.5em;
        border-radius: $brdRds;

        .confirm-message {
          width: 100%;
          font-weight: 700 !important;
          word-wrap: break-word;
          cursor: pointer;
        }
      }

      .validation-warnings {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 0.5em;
        border-radius: $brdRds;
      }

      // .custom-submit-btn {
      //   margin: 1em;
      //   padding: 0.4em;

      //   font-weight: 700 !important;
      //   border-radius: 0.2em;
      //   transition: $transition;
      // }
      // #disabled-submit-btn {
      //   cursor: not-allowed;
      //   color: rgb(1, 1, 1, 0.5);
      // }
      // #enabled-submit-btn {
      //   &:hover {
      //     background-color: rgba(255, 255, 255, 0.2);
      //     color: black;
      //     border-radius: 0.2em;
      //   }
      // }
    } // .form

    .message {
      display: flex;
      align-self: center;
      align-items: center;
      justify-content: center;
      height: 200px;
      font-size: 1.1em;
      margin: 2em;
      border-radius: 0.5em;
    }

    .thanks-container {
      // height: 600px;
      margin-top: 2em;
      .thanks-message {
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 200px;
        margin: 2em auto;
        font-size: 1.1em;
        border-radius: 0.5em;
      }
    }

    .store-link {
      padding: 0.5em;
      margin-top: 2em;
      font-size: 1.1em;
      border-radius: $brdRds;
    }
  } // .main-content
} // .app-container

// =============== Mobile Styles ================
@media screen and (max-width: 767px) {
  .app-container {
    height: 220%;
  }
}

// =============== Regular Styles ================
@media screen and (min-width: 768px) {
  .app-container {
    height: 177%;

    .top-region {
      .redirect-link {
        margin-left: 3em;
      }

      .dropdown-language {
        .selected-language {
          .content {
            padding: 0.3em;
          }
        }
      }
    }

    .main-content {
      width: 400px;

      .form {
        padding: 2em;
      } // .form

      .thanks-container {
        .thanks-message {
          width: 400px;
          font-size: 1.5em;
        }
      }
      .message {
        width: 400px;
        height: 200px;
        font-size: 1.5em;
      }
    }
  }
}
