<title>{{ restaurant.name }} - Walk In And Waiting List App</title>
<!-- app-container -->
<div id="app-container" *ngIf="translation" class="app-container">
  <!-- top region -->
  <div class="top-region">
    <!-- redirect button -->
    <button
      *ngIf="walkedIn || waitedList || submittedWalkIn || submittedWaitingList"
      class="redirect-link"
      (click)="redirect()"
    >
      {{ translation.back }}
    </button>
    <!-- in Screen#1 redirect button is not displayed so we need an empty div to keep the layout consistent  -->
    <div class="flex-empty"></div>

    <!-- language  -->
    <div class="dropdown-language language">
      <div class="selected-language" id="selected-language">
        <button class="content" (click)="displayLangList($any($event))">
          <!-- [ngStyle]="selLangStyle()" -->
          <img
            src="{{ selectedLanguage.iconURL }}"
            alt="country flag"
            width="1rem"
            height="1rem"
          />

          <span>{{ selectedLanguage.name }}</span>
        </button>
      </div>
      <ul
        [ngStyle]="
          enableLangList
            ? {
                display: 'flex',
                flexDirection: 'column',
                alignItems: 'flexEnd'
              }
            : { display: 'none' }
        "
      >
        <li
          *ngFor="let language of filteredLangList; let index = index"
          class="lang-list"
          (click)="selectLanguage(language, index)"
        >
          <button class="content li-lang" id="{{ language.code }}">
            <img
              src="{{ language.iconURL }}"
              alt="country flag"
              width="1rem"
              height="1rem"
            />
            {{ language.name }}
          </button>
        </li>
      </ul>
    </div>
    <!-- end of language -->
  </div>
  <!-- end of top region -->

  <!-- main content -->
  <div class="main-content">
    <!-- restaurant logo -->
    <div class="row">
      <div class="col">
        <div class="venue-logo"></div>
      </div>
    </div>

    <!-- Screen#1 option buttons Walk In and Waiting List -->
    <div *ngIf="!walkedIn && !waitedList" class="button-links">
      <!-- Walk In -->
      <button class="option" *ngIf="restaurant.enableWalkIn" (click)="walkIn()">
        {{ translation.walkIn }}
      </button>
      <!-- Waiting List -->
      <button
        class="option"
        *ngIf="restaurant.enableWaitingList"
        (click)="waitingList()"
      >
        {{ translation.waitingList }}
      </button>
      <!-- end option buttons -->
    </div>

    <!-- Screen#2 form -->
    <form
      *ngIf="
        (walkedIn || waitedList) && !submittedWalkIn && !submittedWaitingList
      "
      class="form"
    >
      <!-- surname -->
      <label for="surname" class="ctrl-label">
        {{ translation.surname }}*
      </label>
      <input
        type="text"
        class="form-control"
        name="surname"
        id="surname"
        [(ngModel)]="customer.surname"
        #surname
        (input)="emptyFieldCheck(surname.value)"
        required
      />

      <!-- name -->
      <label for="name"> {{ translation.name }}* </label>
      <input
        type="text"
        class="form-control"
        name="name"
        id="name"
        [(ngModel)]="customer.name"
        #name
        (input)="emptyFieldCheck(name.value)"
        required
      />

      <!-- email -->
      <label for="email"> {{ translation.email }}* </label>
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        [(ngModel)]="customer.email"
        #email
        (input)="validateEmail(email.value)"
        (focusout)="validateEmail(email.value)"
        pattern=".+@globex\.com"
        required
      />

      <!-- country-tel-code -->
      <label for="country-tel-code" style>
        {{ translation.countryCode }}*
      </label>
      <mat-select
        placeholder="{{ selectedCountryCode?.country }} : {{
          selectedCountryCode?.code
        }}"
        id="country-tel-code"
        name="country-tel-code"
        #countryTelCode
        (change)="emptyFieldCheck(countryTelCode.value)"
      >
        <mat-option
          *ngFor="let code of countryTelCodes"
          (click)="selectCountryCode(code)"
        >
          {{ code.country }} : {{ code.code }}
        </mat-option>
      </mat-select>

      <!-- phone -->
      <label for="phone"> {{ translation.phone }}* </label>
      <input
        type="text"
        class="form-control"
        name="phone"
        [(ngModel)]="customer.phone"
        #phone
        (input)="validatePhone(phone.value)"
        (focusout)="validatePhone(phone.value)"
      />

      <!-- guests -->
      <label for="guests"> {{ translation.guests }}* </label>
      <input
        type="text"
        class="form-control"
        name="guests"
        [(ngModel)]="customer.guests"
        #guests
        (input)="validateGuests(guests.value)"
        (focusout)="validateGuests(guests.value)"
      />

      <!-- confirmation checkbox and text -->
      <div
        class="confirmation"
        style="display: flex; align-items: flex-start"
        (click)="emptyFieldCheck($event)"
      >
        <!-- checkbox -->
        <mat-checkbox
          name="news"
          [(ngModel)]="customer.checkTerms"
        ></mat-checkbox>

        <!-- text -->
        <div class="confirm-message" (click)="toggleConfirm()">
          {{ translation.checkTerms }}
        </div>
      </div>

      <!-- custom button - submit - disabled -->
      <button
        id="disabled-submit-btn"
        *ngIf="isEmptyField"
        class="custom-submit-btn"
        (click)="submit()"
        disabled
      >
        {{ translation.submit }}
      </button>
      <!-- custom button - submit - enabled -->
      <button
        id="enabled-submit-btn"
        *ngIf="!isEmptyField"
        class="custom-submit-btn"
        (click)="submit()"
      >
        {{ translation.submit }}
      </button>

      <!-- validation warnings -->
      <!-- <div class="validation-warnings" *ngIf="isEmptyField"> -->
      <!-- alerts - Empty Field -->
      <!-- <div *ngIf="isEmptyField" class="empty-field opacity-50 bold fw-bolder">
          {{ translation.alerts.emptyFields }} <span style="color: red">!</span>
        </div> -->
      <!-- alerts - Invalid Mail -->
      <!-- <div
          *ngIf="invalidMail && customer.email !== ''"
          class="invalid-email text-warning bold fw-bolder"
        >
          {{ translation.alerts.invalidEmail }}
          <span style="color: red">!</span>
        </div> -->
      <!-- alerts - Invalid Phone -->
      <!-- <div
          *ngIf="invalidPhone && customer.phone !== ''"
          class="invalid-phone text-warning bold fw-bolder"
        >
          {{ translation.alerts.invalidPhone }}
          <span style="color: red">!</span>
        </div>
      </div> -->
      <!-- End of validation-warnings-->
    </form>
    <!-- End of form -->

    <!-- Screens#1-#2 message-->
    <div
      class="message"
      *ngIf="
        !walkedIn && !submittedWalkIn && !waitedList && !submittedWaitingList
      "
    >
      <b>{{ restaurant.languages[selectedLangIndex].messages.welcome }}</b>
    </div>

    <!-- Screen#3 thanks message -->
    <div
      *ngIf="submittedWalkIn || submittedWaitingList"
      class="thanks-container"
    >
      <img
        src="https://cdn-icons-png.flaticon.com/128/210/210545.png"
        alt="country flag"
        style="border: none; margin-bottom: 0"
      />
      <div class="thanks-message">
        <!-- <h2> -->
        <b>{{ restaurant.languages[selectedLangIndex].messages.thankYou }}</b>
        <!-- </h2> -->
      </div>
    </div>

    <!-- Screens #All website link -->
    <div class="store-link">
      <a
        href="{{ restaurant.languages[selectedLangIndex].link.href }}"
        target="_blank"
      >
        <b>{{ restaurant.languages[selectedLangIndex].link.text }}</b>
      </a>
    </div>
  </div>
  <!-- End of main-contnent -->
</div>
<!-- end of app-container -->
